{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% if user.is_authenticated %}
        <h4>
            Welcome, {{ user.username }} | 
            <a href="{% url 'logout' %}">Logout | </a>
            <a href="{% url 'home_table' %}"> Switch to Table View</a>
        </h4>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

</head>
<body>
    <h1>Forum Home Page</h1>

    {% for board in boards %}
        <div class="container">
            <div class="clickable-div" onclick="window.location.href='{% url 'list_topics' board.id %}'">
                <strong>{{ board.name }}</strong><br>
                {{ board.description }}
            </div>
            <div class="action-link">
                <a href="{% url 'new_topic' board.id %}">Create new topic</a>
            </div>
        </div>
    {% endfor %}

    <div class="container">
        <a href="/boards/create/" class="action-link">Create new board</a>
    </div>

    <div id="pagination">
        {% if boards.has_previous %}
            <a href="?page=1" class="page-box">&laquo; First</a>
            <a href="?page={{ boards.previous_page_number }}" class="page-box">Previous</a>
        {% endif %}

        {% for num in boards.paginator.page_range %}
            {% if boards.number == num %}
                <span class="page-box current">{{ num }}</span>
            {% elif num > boards.number|add:-3 and num < boards.number|add:3 %}
                <a href="?page={{ num }}" class="page-box">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if boards.has_next %}
            <a href="?page={{ boards.next_page_number }}" class="page-box">Next</a>
            <a href="?page={{ boards.paginator.num_pages }}" class="page-box">Last &raquo;</a>
        {% endif %}
    </div>
</body>
</html>
